@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

.side-bar {
  height: 100%;
  width: 17%;
  background-color: white;
  overflow-y: hidden;
}
@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
}

.header-left {
  display: flex;
  align-items: center;
}
.adsa {
  font-size: 30px;
}

/* LOGO */
.container .header .header-left img {
  width: 120px;
}

.container .header .header-left i {
  font-size: 24px;
  padding-right: 10px;
}

/* search */
.search-box form input {
  width: 477px;
  height: 35px;
  border-radius: 15px;
  padding: 15px 20px;
}
.search-box form button {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  border: none;
  margin: 0 0.2rem;
  cursor: pointer;
}
/* header right */
.registry {
  display: flex;
}
.registry button {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background: white;
  margin: 0 0.5rem;
}
.registry button i {
  font-size: 18px;
}

.registry button:hover {
  background: rgb(214, 209, 209);
}

.registry .avatar {
  width: 44px;
  height: 44px;
  margin-left: 0.2rem;
}

.registry .avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
}

/* main -> menu */

.main {
  display: flex;

  margin-top: 1rem;
  padding: 0 20px;
}
.main .menu {
  width: 18%;
  height: 100vh;
  margin-left: -2rem;
}

.main .menu .menu_item {
  display: flex;
  text-align: center;
  padding: 0 10px;
  justify-content: left;
  border-radius: 15px;
  height: 100vh;
}

.main .menu .menu_item .nav {
  margin-top: 1rem;
  margin-right: 3rem;
}
.main .menu .menu_item .nav i {
  font-size: 22px;
  display: block;
}

.main .menu .menu_item .nav a span {
  font-size: 16px;
  margin-left: 2.5rem;
}

.main .menu .menu_item .nav .sub {
  margin-top: 1rem;
}
/* main -> Start content video */
.main .cotent-video {
  width: 82%;
  height: 300px;
  margin-left: 0.5rem;
}

/* Fix */
.main .cotent-video .videos {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.main .cotent-video .videos .video {
  margin-bottom: 1rem;
}

.main .cotent-video .videos .video .thumbnail img {
  border-radius: 10px;
  width: 100%;
  height: 220px;
}
.main .cotent-video .videos .video .details {
  margin-top: 1rem;
}
.main .cotent-video .videos .video .details .title h5 {
  font-size: 16px;
  margin-right: -2rem;
}

.main .cotent-video .videos .video .details .title a {
  margin-top: 0.5rem;
  font-size: 14px;
  margin-bottom: 0.3rem;
}

/* start menu */
.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.nav-link span {
  margin-left: 15px;
}

.nav-link:hover {
  cursor: pointer;
}

/* content video */
/* .content {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
} */

/* .videos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
} */

/* .video {
  width: 270px;
  margin-bottom: 30px;
} */

/* .thumbnail img {
  object-fit: cover;
  height: 94%;
  width: 100%;
} */
.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.details {
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 12px;
}
/* responsive deskstops */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .title h5 {
    max-width: 200px;
  }

  .main .menu .menu_item .nav a span {
    font-size: 16px;
    margin-left: 0.5rem;
    text-align: left;
  }

  .nav-link {
    padding: 12px 10px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .title h5 {
    max-width: 280px;
  }
  .nav-link {
    display: block;
    padding: 12px 10px;
  }
  .main .menu .menu_item .nav a span {
    margin-left: 0px;
    font-size: 12px;
  }
  .main .menu {
    width: 17%;
  }

  .main .cotent-video .videos {
    grid-template-columns: auto auto;
  }
  .search-box form input {
    width: 315px;
  }
  .main .cotent-video {
    width: 100%;
  }
  .registry .avatar,
  .registry button,
  .search-box form button {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 320px) and (max-width: 480px) {
}
